@charset "UTF-8";

html, body {
  margin: 0;
  padding: 0;
  background: #fdfdfd;
  height: 100%;
}

article {
  display: flex;
  height: 100%;
  align-items: center;
}

.description {
  margin: 0 auto;
  text-align: center;
}