@charset "UTF-8";

html, body {
  margin: 0;
  padding: 0;
  background: #fdfdfd;
}

article {
  display: flex;
  align-items: center;
}

.description {
  margin: 0 auto;
  text-align: center;
}

.warning {
  max-width: 720px;
  text-align: left;
}

@media screen and (max-width: 800px) {
  .warning {
    max-width: Calc(100% - 20px);
    margin: 0 auto;
  }
}
